@use "../../scss/variables" as *;

input {
    border: 0;
    background-color: $black;
    padding: 1rem 1.4rem;
    font-size: 1.6rem;
    border-radius: $border-radius;
    color: $txt-color;
    font-family: $font-family;
}

