@use "../../scss/" as *;

.banner {
    height: 50vh;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        @include overlay();
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100px;
        background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
    }
}

.cast-content {
    @include flex(flex-start, flex-start);
    max-width: 1260px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -200px !important;
    padding: 0 2rem;

    &__poster {
        flex: 1;

        @include mobile {
            display: none;
        }

        &__img {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: $border-radius;
            padding-top: 165%;
        }
    }

    &__info {
        width: 70%;
        padding-left: 2rem;
        position: relative;

        @include mobile {
            width: 100%;
            padding-left: 0;
        }

        & > * {
            margin-bottom: 2rem;
        }

        
        .title {
            font-size: 4rem;
            line-height: 1;
        }

        .tagline{
            font-style: italic;
        }
        
        .genres {
            & > * ~ * {
                margin-left: 0.5rem;
            }
            
            &__item {
                padding: 0.5rem 1.5rem;
                border: 2px solid $white;
                border-radius: $border-radius;
                font-size: 1.2rem;
                font-weight: 600;
                background-color: $body-bg;
            }
        }
        
        p{
            font-size: 1.2rem;
        }

        .circular-progressbar__char {
            width: 38px;
            &__text{
                font-size: 1.2rem;
                font-weight: 600;
                text-shadow: 2px 1px #000;
                position: absolute;
                top: 6px;
            }
            
        }
    }
}

.casts {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    // gap: 10px;
    .swiper-slide {
        width: 15%;

        @include tablet {
            width: 30%;
        }

        @include mobile {
            width: 40%;
        }
    }

    &__item {
        &__bg {
            overflow: hidden;
            border-radius: 1rem;
            &__img {
                padding-top: 160px;
                margin-bottom: 0.5rem;
                border-radius: 0.5rem;

                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;

                transition: linear 0.2s;

            }
        }

        &__name {
            font-size: 1rem;
            text-align: center;
        }

        &:hover &__bg__img{
            transform: scale(1.1);
        }
    }
}

.casts{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;

    &__item {
        
        &__bg {
            overflow: hidden;
            border-radius: 1rem;
            &__img {
                padding-top: 140%;
                border-radius: 1rem;

                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                transition: linear 0.2s;
            }
        }

        &__name {
            font-size: 1.2rem;
            text-align: center;

            margin-top: 1rem;
        }

        &:hover &__bg__img{
            transform: scale(1.2);
        }
    }
}

.video {
    margin-bottom: 3rem;

    &__title {
        margin-bottom: 1.5rem;
    }
}